@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
.header-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__container {
  position: relative;
  width: 100%;
}
.nav__menu {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1.5rem;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
.intro h1 {
  font-family: "Fraunces";
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.arrow-down {
  width: 1.8rem;
  height: 4.8rem;
}
.nav__menu ul {
  display: none;
}
.img-transform-brand,
.stand-out-img,
.graphic-design-img,
.photography-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img-transform-brand-container"
    "transform-brand"
    "stand-out-img-container"
    "stand-out"
    "graphic-design-container"
    "photography-container";
}
.img-transform-brand-container {
  grid-area: img-transform-brand-container;
}
.transform-brand {
  grid-area: transform-brand;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transform-brand h1,
.stand-out h1 {
  font-family: "Fraunces";
  font-size: 1.75rem;
  font-weight: 900;
}
.transform-brand > div,
.stand-out > div {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
}
.transform-brand p,
.stand-out p,
.bottom p,
.clientTestimonial--paragraph {
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.55);
}
.transform-brand a,
.stand-out a {
  font-family: "Fraunces";
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}
.transform-brand a::after {
  content: "";
  position: absolute;
  left: -0.2rem;
  bottom: -0.2rem;
  background-color: rgba(255, 211, 2, 0.5);
  width: calc(100% + 5px);
  height: 0.7rem;
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.transform-brand a:hover::after {
  background-color: rgb(255, 211, 2);
}
.stand-out-img-container {
  grid-area: stand-out-img-container;
}
.stand-out {
  grid-area: stand-out;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stand-out a::after {
  content: "";
  position: absolute;
  left: -0.2rem;
  bottom: -0.2rem;
  background-color: rgba(255, 115, 100, 0.5);
  width: calc(100% + 5px);
  height: 0.7rem;
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.stand-out a:hover::after {
  background-color: rgb(255, 115, 100);
}
.graphic-design-container {
  grid-area: graphic-design-container;
  position: relative;
}
.photography-container {
  grid-area: photography-container;
  position: relative;
}
.bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}
.bottom h1 {
  font-family: "Fraunces";
  font-size: 1.75rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.6);
}
.bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem 0;
}
.testimonials h1 {
  font-family: "Fraunces";
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}
.testimonials-container {
  width: 79.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.clientTestimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}
.img-container {
  width: 3.5rem;
  height: 3.5rem;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.clientTestimonial h3 {
  font-family: "Fraunces";
  font-weight: 900;
}
.clientTestimonial--paragraph + div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title-client {
  font-size: 0.65;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
}
.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(144, 212, 197);
  gap: 3rem;
}
.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: rgba(44, 117, 102, 0.5);
  font-weight: 600;
}
.footer li + li {
  margin-left: 3.5rem;
}
.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.topContainer a:hover {
  color: white;
}
.social-link + .social-link {
  margin-left: 1.5rem;
}
.social-link:hover img {
  filter: brightness(0) invert(1);
}
@media (min-width: 769px) {
}
